body {
overflow-x:hidden;
font-family: 'Raleway', sans-serif;}
body, .navbar {min-width:400px}

h2 {margin:0;}

.logo {
	height:200px;
	width:200px;
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left:30px;
}

a {
	color: black;
	text-decoration: underline;
	font-size: 18px;}

a {
	color: #1d1d1d;}

.container, .row, .navbar {margin:0 !important; padding:0 !important}
#page_toggle, .student_thumbnail, .thumbnail_name {cursor:pointer}

.navbar, footer {position:fixed; width:100%; z-index:2; background-color:rgba(255, 255, 255, 0.6)}
.navbar {height:150px; border-radius:0; margin-bottom: 10vh;}
footer {bottom:0; text-align:center}

#page_title {height:50px; display:inline-block}
#page_toggle {float:right; font-size:18px; font-weight: bold; margin-top:30px; margin-right:30px;}

#content {position:relative; width:100%; top:20vh}

#home, #about {position:absolute; width:100%}
#about {
	left:100%;}

.about-info {
	margin-left: 30px;
	
}

.student_thumbnail {width:100%; border:0px solid black}
.thumbnail_name {position:absolute; width:100%; top:50%; margin-top:-5px; text-align:center; display:none}

.student_thumbnail:hover {
	-webkit-box-shadow: inset 10px 10px 300px 70px rgba(255,255,255,1);
	-moz-box-shadow: inset 10px 10px 300px 70px rgba(255,255,255,1);
	box-shadow: inset 10px 10px 300px 70px rgba(255,255,255,1);
	
}

/********* EDIT **********/

.abv_img, .blw_name {display:none}

.web-copy {max-width:1200px; margin:70px auto 0 auto; padding:0 30px; text-align:center}
.web-copy p {max-width:1200px; font-size:20px; margin-bottom:18px}

/********* EDIT **********/

.text_container, .img_container {width:50%; float:left}

h2.student_name {font-size: 70px; margin-left: -2px; font-weight: bold;}

p {font-size: 15px; max-width: 500px;}

.info {position:absolute; width:100%; z-index:1; background-color:white; display:none}
.info .container {padding:40px !important}

.student_img {max-width:100%; margin:0 auto; display:block}
.student_bio {margin-top:20px}

.about {
	display: flex; max-height: 460px;
}

.about-info {
	width: 50%;
}

.map{
	width: 50%;
	margin-left: 30px;
}

.about_header {
	font-size: 80px;
	font-weight: 900;
margin-bottom: 30px;
border-bottom: 5px, #000000;}

#date {
	font-size: 40px;
}

#time {
	font-size: 30px;
}

#address {
	font-size: 30px;
}

.college {width: 300px; margin: 0 auto;}

.college-text {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: 70px;
	text-decoration: underline;
}

.college-img, .teesside-img {text-align: center;
	margin-top:30px;
	display: inline-block;
	text-decoration: underline;
	width: 120px;
	height: 100px;
	background-image: url(../img/prague-college.png);
	background-repeat: no-repeat;
	background-size: contain;
}


.teesside-img {float:right; background-image: url(../img/teesside.png)}
	

@media (max-width: 750px) {
	.about_header {
	font-size: 80px;
	font-weight: 900;}
	.img_container {display:none}
	.text_container {width:100%}
	.about {display: block;}
	.about-info {
	width: 100%;}
	.map{width: 100%;}
	
}

@media (min-width: 751px) {
	.img_container {display:block}
	.text_container {width:50%}
}